.HomePage {
  flex: 1;
  background-color: #f7f7f7;
}

.HomePage .StoryList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.HomePage .StoryListItem {
  width: 30%;
  margin: 10px;
}

.HomePage .ListItemDescription {
  width: 33%;
  padding: 25px 5px 20px 30px;
}

.NoStories {
  margin: auto;
  margin-top: 100px;
  font-family: 'Roboto', sans-serif;
  color: gray;
  font-size: 18px;
  background-color: #f7f7f7;
}
